<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Моя первая HTML страница</h1>
    <p>Привет, мир!</p>
    <table>
        <tr>
            <th>{{ firstname }}</th> <!-- {{}} аналог функции print() в pythom -->
            <th>{{ lastname }}</th>
            <th>{{ age }}</th>    
            <th>{{ rating }}</th>
        </tr>
        {% for student in students%}
        <tr>
            <td>{{ student.firstname }}</td>
            <td>{{ student.lastname }}</td>
            <td>{{ student.age }}</td>    
            <td>{{ student.rating }}</td>
        </tr>
        {% endfor %}    
    </table>
</body>
</html>